*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;

  font-family:'Poppins',sans-serif;

  background:#f8fafc;

  overflow:hidden;
}

.glow{
  position:absolute;
  width:400px;
  height:400px;

  background:#60a5fa;

  border-radius:50%;

  filter:blur(120px);

  opacity:0.15;
}

.glow:nth-child(1){
  top:-100px;
  left:-100px;
}

.glow:nth-child(2){
  bottom:-100px;
  right:-100px;
}

.card{
  position:relative;
  z-index:2;

  width:100%;
  max-width:500px;

  padding:40px 30px;

  border-radius:28px;

  background:white;

  box-shadow:
  0 10px 40px rgba(0,0,0,0.08);

  text-align:center;
}

.logo{
  width:110px;
  margin-bottom:20px;
}

h1{
  font-size:30px;
  font-weight:700;

  color:#0f172a;
}

.madrasah{
  margin-top:10px;

  font-size:18px;

  color:#2563eb;

  font-weight:600;
}

input{
  width:100%;

  padding:15px;

  border:1px solid #cbd5e1;

  border-radius:14px;

  margin-top:30px;

  outline:none;

  font-size:15px;
}

button{
  width:100%;

  padding:15px;

  border:none;

  border-radius:14px;

  margin-top:20px;

  background:#2563eb;

  color:white;

  font-size:16px;

  font-weight:600;

  cursor:pointer;

  transition:0.3s;
}

button:hover{
  transform:scale(1.02);
}

.hasil-card{

  width:100%;
  max-width:900px;

  background:white;

  border-radius:28px;

  padding:40px;

  box-shadow:
  0 10px 40px rgba(0,0,0,0.08);

  position:relative;
  z-index:2;
}

.judul{
  text-align:center;
  margin-bottom:40px;
}

.judul h2{
  color:#0f172a;
  font-size:32px;
}

.judul p{
  color:#2563eb;
  margin-top:10px;
  font-weight:600;
}

.identitas{
  margin-top:20px;
  line-height:2.2;
  font-size:22px;
  font-weight:600;
  color:#111827;
}

.result-table{
    width:100%;
    border-collapse:collapse;
    margin-top:25px;
    overflow:hidden;
    border-radius:16px;
}

.result-table th,
.result-table td{
    border:1px solid #dbe2ef;
    padding:14px 10px;
    text-align:center;
    font-size:15px;
}

@media(max-width:768px){

    .card{
        padding:20px;
    }

    .result-table th,
    .result-table td{
        font-size:13px;
        padding:10px 6px;
    }

    .judul{
        font-size:18px;
        line-height:1.5;
    }

    .info{
        font-size:15px;
    }

}
